@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  height: calc(100vh - 50px);
  background: #fff000;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}
